# ignore everything
/*

# but not .gitignore
!/.gitignore

# whitelist
!/Assets
/Assets/*
!/Assets/NFS3Importer

# exclude binaries
!/Assets/NFS3Importer/Plugins
/Assets/NFS3Importer/Plugins/*
!/Assets/NFS3Importer/Plugins/Source
